!!!! 5
html
  head
    title Server Error

    :css
      | head, body { height: 100%; }
      | body { background: #fff; }
      | h1 { font-size: 50px; }
      | ::-moz-selection{ background:#FF5E99; color:#fff; }
      | ::selection { background:#FF5E99; color:#fff; }
      | details { display:block; width: 400px; background: #eee; color: #444;
      |   opacity: 0.6; border: solid 5px #9eaaaf; text-shadow: #fff 1px 1px 0px; 
      |   margin: 2em auto; text-align: center; }



  body
    details
      summary
        h1 Server Error
        p= message


