.gendiv

  h1= album.displayName

  - if (album.text)
    p
      != parse(album.text)


ul.gallery
  - each picture in album.pictures
    li
      - if (picture.comments)
        .thumb.album.commented
          .thumb-pic
            a( href: picture.url )
              img( alt: picture.displayName, src: picture.thumbnail, title: picture.displayName )
          .thumb-name= picture.displayName
      - else
        .thumb.album
          .thumb-pic
            a( href: picture.url )
              img( alt: picture.displayName, src: picture.thumbnail, title: picture.displayName )
          .thumb-name= picture.displayName

.clearfix

- if (user)
  .gendiv

    h1
      Edit Album

    form( method: "post", action: "/albums/edit" )
      input( type: "hidden", name: "album", value: album.name )

      p
        label( for: "title" ) Album Title:
        input( type: "text", name: "title", id: "title", value: album.title )

      p
        label( for: "text" ) Album Text:
        textarea( name: "text", id: "text" )= album.text

      p
        label( for: "submitalbum" )
        input( type: "submit", name: "submitalbum", id: "submitalbum", value: "Save" )
        input( type: "submit", name: "rename", id: "rename", value: "Rename Album" )
        input( type: "submit", name: "move", id: "move", value: "Move Pictures" )
        input( type: "submit", name: "delete", id: "delete", value: "Delete Album" )

