.gendiv

  %h1
    login

  %form{ method: "post", action: "/login" }
    %p
      %label{ for: "username" }
        Username:
      %input{ type: "text", name: "username", id: "username" }/

    %p
      %label{ for: "password" }
        Password:
      %input{ type: "password", name: "password", id: "password" }/

    %p
      %label{ for: "submit" }
      %input{ type: "submit", name: "submit", id: "submit", value: "Login" }/

