.gendiv

  h1 Move Pictures

  form( method: "post", action: "/albums/move" )

    input( type: "hidden", name: "album", value: albumname )

    p
      label(for: "current" ) Current Album:
      input( type: "text", name: "current", id: "current", value: albumname, disabled: "disabled" )

    p
      label( for: "target" ) Target Album:
      input( type: "text", name: "target", id: "target" )

    p
      label( for: "submit" )
      input( type: "submit", name: "submit", id: "submit", value: "Move Pictures" )

