.gendiv

  h1 Rename Album

  form( method: "post", action: "/albums/rename" )

    input( type: "hidden", name: "album", value: albumname )

    p
      label(for: "current" ) Current Name:
      input( type: "text", name: "current", id: "current", value: albumname, disabled: "disabled" )

    p
      label( for: "target" ) New Name:
      input( type: "text", name: "target", id: "target" )

    p
      label( for: "submit" )
      input( type: "submit", name: "submit", id: "submit", value: "Rename Album" )

